/* Reset default margin */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff5ee;
}

/* Header Section */
header {
  background-color: #f4b37d;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #d98e5f;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  padding: 8px 15px;
  border-radius: 5px;
}

.menu button {
  background-color: white;
  border: none;
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu button:hover {
  background-color: #ffe0b3;
}

/* Section Styles */
main {
  padding: 40px;
}

#welcomeSection {
  text-align: center;
  background-color: #fde3c7;
  border-radius: 10px;
  padding: 60px;
  border: 2px solid #d98e5f;
}

.student-card {
  display: flex;
  align-items: center;
  background-color: #f4b37d;
  padding: 40px;
  border-radius: 10px;
  border: 2px solid hsl(254, 62%, 61%);
}

.student-image img {
  border-radius: 50%;
  border: 3px solid #333;
  width: 150px;
  height: 150px;
  margin-right: 50px;
}

.student-info h2 {
  margin-top: 0;
}

/* Show/Hide Control */
.hidden {
  display: none;
}
.visible {
  display: block;
}
